/* Global Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbe67c;
    color: #333;
}

header {
    background-color: #1e3d58;
    color: rgb(97, 69, 69);
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 2.5em;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
}

#products {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

#products h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.product {
    background-color: #fff;
    border-radius: 10px;
}